p {
    color: #ffffff !important;
}

.footer {

    height: 25vh;
    padding: 100px 100px 0px 100px !important;
    margin: 0px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 16px; /* Gap between grid items */
}

.grid-item {
    
    padding: 16px;
    box-sizing: border-box; /* Include border and padding in element's total width and height */
}

.footerlogo {
    width: 140px !important;
    display: flex;
    align-items: center;
    padding: 0px !important;
}

.footer .social {
    justify-content: space-between !important;
    margin: 0px !important;
}

.footer img {
    width: 40px !important;

}

.footerSignup {
    display: flex !important;
}

.footerNav a {
    display: flex;
    color: #fff;
    text-decoration: none;
    line-height: 30pt;
}

/* Mobile Stacking */
@media (max-width: 768px) {  /* You can adjust this breakpoint as needed */
    .grid-container {
        flex-direction: column;
    }

    .grid-item {
        flex: 1 1 100%;  /* makes each grid item take full width */
        margin-bottom: 10px;  /* adjust gap between items as needed */
    }

    .footer {

        height: 25vh;
        padding: 100px 50px 0px 50px !important;
        margin: 0px;
        
    }
    
}