.Akira {
  font-family: Akira;
}

/* .MuiGrid-root
{    border: 1px solid #fff;} */

.Inter {
  font-family: Inter;
}

.pending h1 {
  width: 100% !important;
}

.pending img {
  width: 40px !important
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* creates a 3-column grid layout */
  grid-gap: 20px; /* Adjust as needed for space between grid items */
}

.pending, .social {
  margin: 0px !important;
}

.social {
  display: flex;
  margin: 0px auto !important;
  justify-content: space-around;
}
ul {
  color:  #fff;
}

.profile {
  margin: 0px auto;
    justify-content: center;
    border-radius: 30px;
}

a {
  color: #fff;
}

body {
  background-color: #000; /* Black color code */
}

.confirmation-modal {
  display: flex;
}


.mb20{
  margin-bottom: 20px
}

button 
{
    background-color: #fff;
    padding: 20px;
    border: 0px;
}
p {
  color: #fff;
}
.mission {
  display: flex;
    align-items: center;
}

.mission h1{
  padding-right: 20px;
  margin-bottom: 0px;
    margin-top: 0px;
    width: auto !important;
}

h3 {
  color: #fff;
}

label {
  color: #fff;
}
input {
  padding: 20px;
}

form {
  display: inline-grid;
}

.loading {
  padding: 0px !important;
}

.Search {
  display: flex;
    margin: 60px 0px 50px 0px;
    width: 100%;
    padding: 30px 0px 30px 0px;
    border-bottom: 1px solid #727272 !important;
    border: 1px solid #000;
    background: transparent;
    font-size: 30px;
    color: #fff;
    font-family: Downey;
    
}

nav h1 a {
  z-index: 1 !important;
}

.carousel.carousel-slider .control-arrow {
  
  padding: 50px !important;
}

.App-logo {
  width: 36px !important;
  padding-left: 100px;
}

.indexsocial {
  width: 20px !important;
  padding: 5px;
}

.social,  img  {
  width: 100% !important;
    padding-top: 10px !important;
    align-items: center;
    cursor: pointer;
}

.nav h1 a {
  color: #fff !important;
  padding: 20px;
  text-decoration: none;
  z-index: 1 !important;
  position: relative;
}

.join h1 {
  padding: 50px;
}

.main {
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.join {
  justify-content: flex-end !important;
}

.elements h1 {
  color: #fff;
}

.date h1 {
  color: #fff;
}

.intro h3 {
  color: #fff; text-align: left;
  line-height: 33px;
  font-size: 40px;
  
}

small {
  color: #ff00ff;
}

.wide {
  width: 100%;
  padding-top: 20vh;
}

.container {
  display: flex;
  padding: 250px 100px 100px 100px;
  background-color: #000;
}
.height100 {
  height: 100vh !important;
}

.container h1 {
  font-family: Akira;
  font-size: 90px;
  text-align: left;
  color: #fff;
  width: 51%;
  
}

ul {
  padding: 0px !important;
}

.container-admin
{
  padding: 150px;
}

.container-admin h1 {
  font-family: Akira;
  font-size: 90px;
  text-align: left;
  color: #fff;
  width: 51%;
}


.container h2 { 
  text-align: center;
  font-size: 60px;
}

.featured h1  {
  font-family: Akira;
  font-size: 100px;
  text-align: left;
  color: #fff;
  padding-top: 10vh;
  margin: 0px;
  padding-bottom: 10vh;
  padding: 150px;
}
.featured {
  background-color: #000;
  /* padding: 150px; */
}

.Creative {
  height: 115vh;
}

.Creative_name_bk {
  display: flex;
  justify-content: center;
  line-height: 60px;
}

.Creative_name_bk h3 {
  font-size: 150px;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: white;
  color: #000000;
  margin: 0px 0px 100px;
}

.Creative_name {
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
    font-size: 50px !important;
    text-align: center !important;
}
.Creative_name_wrapper 
{
  padding-top: 3vh;
}

.Creative_profile {
  position: relative;
  top: -700px;
}

.Creative_profile p {
  color: #9DA001;
  width: 50%;
  margin: 0px auto;
  padding: 20px;
}

.Creative img 
{
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 40% !important;
  padding-top: 60px;
}

header , .elements > section {
  display: flex;
  justify-content: flex-start;
  width: 93%;
  align-items: center;
  position: fixed;  
  height: 100px;
}

.hr {
   border-right: 1px dotted #f000;
}

html,body #root{
  width:100%;
  height:100%;
  margin:0;
  padding: 0;
  background:'#282c340';
}

.atomic{
  /* width:100%; */
  /* left:10vw; */
  display: flex;
  font-size: 3vw;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add this CSS in your style file or component */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup p {
  margin: 0;
  margin-bottom: 10px;
  color: black;
}

.popup button {
  cursor: pointer;
  background-color: #007bff;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}


.main-container {
  padding: 0px 100px;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.table-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: #000;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}

.table-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #dadada;
}

.heading {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.row-item {
  display: flex;
  flex: 1;
  font-size: 14px;
  padding: 8px 0;
  justify-content: left;
  align-items: center;
  transition: all 0.15s ease-in-out;
  color: #fff;
}



.row-sub-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.row-sub-container .row-item {
  padding: 8px 0;
  border-bottom: 1px solid #dadada;
}

.table-row:last-child,
.row-sub-container .row-item:last-child {
  border-bottom: 0;
}


@media screen and (max-width: 800px) {

  /* .MuiGrid-grid-xs-12 {
    justify-content: center !important;;
  } */

  .css-1ihx4nv-MuiGrid-root 
  {
    justify-content: center;
  }

  nav {
    height: 10vh;
    justify-content: center !important;
    align-items: center;
  }

  .featured h1 {

    font-size: 30px;
    text-align: center;
    padding: 0px 30px 130px 0px;

  }
  .container 
  {
    padding: 100px 50px 0px 50px !important;
  }
  .main-container {
    padding: 0px 25px;
  }

  .searchsocial {
    justify-content: flex-start !important;
  }
  
 
}

