.main {
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.title {
  transition: opacity .5s, height 10s;
  position: fixed;
  width: 100%;
  height: 110vh;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  transform: translate3d(0,0,0);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300%;
}



.logoWrapper a{
  justify-content: center;
  display: flex;
  cursor:pointer !important;
}

.logoWrapper svg{
  position: absolute;
margin:auto;
top:30%;
}



small {
  color: #ff00ff;
}

.wide {
  width: 100%;
  padding-top: 20vh;
}

.container h1 {
  font-family: Akira;
  font-size: 90px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .container h1 {
    font-family: Akira;
    font-size: 30px;
    text-align: center;
  }

  h1 {
    font-size: 30px !important;
    text-align: center;
  }
  h2 {
    font-size: 30px !important;
    text-align: center;
  }
  h3 {
    font-size: 35px !important;
    text-align: center;
  }

  .Creative_name_bk {
    display: inline;
    justify-content: center;
    line-height: 20px !important;
  }
  .Creative_name_bk h3 {
    margin: 0px !important;
  }

  .Creative_profile p {
    font-size: 12px;
  }

  .Creative img 
{
  
  width: 90% !important;

}

.Creative {
  height: 50vh !important;
}

  .Creative_profile {
    top: -200px !important;
  }

}

.container h2 { 
  text-align: center;
  font-size: 60px;
}

.featured h1  {
  font-family: Akira;
  font-size: 120px;
  text-align: center;
  color: #fff;
  padding-top: 10vh;
  margin: 0px;
  padding-bottom: 10vh;
}
.featured {
  background-color: #000;
}

.Creative {
  height: 100vh;
}

.Creative_name_bk {
  display: flex;
  justify-content: center;
  line-height: 60px;
}

.Creative_name_bk h3 {
  font-size: 150px;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: white;
  color: #000000;
  margin: 0px 0px 100px;
}

.Creative_name {
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
}
.Creative_name_wrapper 
{
  padding-top: 3vh;
}

.Creative_profile {
  position: relative;
  top: -700px;
}

.Creative_profile p {
  color: #9DA001;
  width: 50%;
  margin: 0px auto;
}

.Creative img 
{
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 40% !important;
  padding-top: 60px;
}

header , .elements > section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.hr {
   border-right: 1px dotted #f000;
}

html,body #root{
  width:100%;
  height:100%;
  margin:0;
  padding: 0;
  background:'#282c340';
}
