.main {
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.hide{
  opacity: 0 !important;
  pointer-events: none !important;
  transition: 600ms ease; 
  display:none;
}

.titleBg {
  width: 100%;
  height: 110vh;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: 600ms ease; 
  position: fixed;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300%;
  padding-top:75vh;
}

.titleNav{
  width: 100%;
  padding: 0px;
  position: fixed;
  bottom: 4em;
  height: auto;
  text-align: center;
  font-family: Akira;
}

.titleNav canvas{
  transform: scale(0.25);
}

.logo_min{
  fill:#0ff000;
  z-index: 99999 !important;
  left: 0;
  top:0;
  position:fixed; 
  transform: translate(2em, 1em) scale(0.25);
  /* -webkit-transform: translate(2em, 6em) scale(0.25); */
  transition: 750ms ease; 
}

.logo{
  opacity: 1 !important;
  /* width: 100%; */
  position:fixed; 
  z-index: 99999 !important;
  left: 16%;
  justify-content: center;
  transform: translate(0) scale(1.25);
  -webkit-transform: translate(0) scale(1.25);
  transition: 750ms ease;
}

/* .logoWrapper{
  justify-content: center;
  display: flex;
  cursor:pointer !important;
  align-items: center;
   margin-right:0;
} */

.logoWrapper a svg{
 top:8em;
 left:0;
 position: fixed;
}

small {
  color: #ff00ff;
}

.wide {
  width: 100%;
  padding-top: 20vh;
}


.container{
  margin-top: 110%
}

.container h1 {
  font-family: Akira;
  font-size: 90px;
  text-align: center;
}



.Social_nav {
  justify-content: center;
  display:flex;
  z-index: 0;
}


.Social_nav > ul{
  width: 380px !important;
  list-style-type: none;
  display:flex;
  padding:0;
}

.Social_nav > img {
  margin:0;
  width: 10%;
  justify-content: center;
  padding:0;
}


@media screen and (max-width: 480px) {
  .container h1 {
    font-family: Akira;
    font-size: 30px;
    text-align: center;
  }

  h1 {
    font-size: 30px !important;
    text-align: center;
  }
  h2 {
    font-size: 30px !important;
    text-align: center;
  }
  h3 {
    font-size: 35px !important;
    text-align: center;
  }

  .Creative_name_bk {
    display: inline;
    justify-content: center;
    line-height: 20px !important;
  }
  .Creative_name_bk h3 {
    margin: 0px !important;
  }

  .Creative_profile p {
    font-size: 12px;
  }

  .Creative img 
{
  
  width: 90% !important;

}

.Creative {
  height: 50vh !important;
}

  .Creative_profile {
    top: -200px !important;
  }

}

.container h2 { 
  text-align: center;
  font-size: 60px;
}


.featured{
  padding-bottom:20%;
  background-color: #000;
}

.featured h1  {
  font-family: Akira;
  font-size: 100px;
  text-align: center;
  color: #fff;
  padding-top: 20vh;
  margin: 0px;
  padding-bottom: 2vh;
}

.Creative {
  height: 100vh;
}

.Creative_name_bk {
  display: flex;
  justify-content: center;
  line-height: 60px;
}

.Creative_name_bk h3 {
  font-size: 150px;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: white;
  color: #000000;
  margin: 0px 0px 100px;
}

.Creative_name {
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
}
.Creative_name_wrapper 
{
  padding-top: 3vh;
}

.Creative_profile {
  position: relative;
  top: -700px;
}

.Creative_profile p {
  color: #9DA001;
  width: 50%;
  margin: 0px auto;
}

.Creative img 
{
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 40% !important;
  padding-top: 60px;
}

/* .discordLink{
  width: 100%;
  padding: 0px;
  position: fixed;
  bottom: 4em;
  height: auto;
  text-align: center;
  font-family: Akira;
} */



.Social_nav {

  justify-content: center;
  display:flex;
  z-index: 0;
}


.Social_nav > ul{
  width: 380px !important;
  list-style-type: none;
  display:flex;
  padding:0;
}

.Social_nav > img {
  margin:0;
  width: 10%;
  justify-content: center;
  padding:0;
}


header , .elements > section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.hr {
   border-right: 1px dotted #f000;
}

html,body #root{
  width:100%;
  height:100%;
  margin:0;
  padding: 0;
  background:'#282c340';
}
